@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

@layer base {
  body {
    @apply bg-background-light ;
    font-family: 'Montserrat', sans-serif;
  }
}
/* dark:bg-background-dark font-sans */
@keyframes animation {
  0 {
    stroke-dasharray: 1, 400;
    stroke-dashoffset: 0;
  }

  50 {
    stroke-dasharray: 400, 400;
    stroke-dashoffset: -100;
  }

  100 {
    stroke-dasharray: 400, 400;
    stroke-dashoffset: -260;
  }
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.scrollbar::-webkit-scrollbar {
  width: 10px;
}

.scrollbar-dense::-webkit-scrollbar {
  width: 7px;
}

.scrollbar::-webkit-scrollbar-track {
  border-radius: 100vh;
  /* @apply bg-primary; */
}

.scrollbar::-webkit-scrollbar-thumb {
  @apply bg-accent;
  border-radius: 100vh;
  /* border: 3px solid; 
  @apply border-primary; */
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  @apply bg-accent-hover;
}

input::-webkit-contacts-auto-fill-button,
input::-webkit-autofill,
input::-webkit-contacts-auto-fill-button,
input::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
  position: absolute;
  right: 0;
  opacity: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px inset !important;
  -webkit-text-fill-color: black !important;
}
